
{% extends 'music/base.html' %}

{% block r %}
<!DOCTYPE html>






<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album details</title>
</head>
<body>
<h1>

            these are the details for {{ sample.id }}:


</h1><br>
<form id="nameform" action="{% url "music:favorite"  sample.id %}" method="get">

    {%  for song in songs %}


        <input type="checkbox" name="song" value="{{song.id }}">{{  song.song_title }}
        {% if song.is_favorite %}<strong>F</strong>{% endif %}<br>


    {%  endfor %}
        <input type="submit" value="favorite!">
</form>





</body>
</html>
{% endblock %}

{% block title %}
Albums
{% endblock %}