<!-- loads the path to your static files >


<!-->

{% extends 'music/base.html' %}

{% block r %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
you have those album:
<ul>
    {% for album in albums %}
        <li> <a href="{% url "music:detail" album.id %}" > {{ album.album_title }}</a></li><br>
        <ul><li><a href="{% url 'music:artist' album.artist %}" >{{ album.artist }}</a></li></ul><br>
    {% endfor %}
</ul>

</h1>

</body>
</html>

{% endblock %}

{% block title %}

    Index

{% endblock %}